*{
    margin: 0px;
    padding: 0px;
    border:2px solid black;
    text-decoration: 0px;
}


header{
    width: 100%;
    height: 71px;
 
background: #353F8E;
}

.voltar-logo-desenho1-desenho2{

    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.voltar{
    background-color: antiquewhite;
    width: 100px;
 align-self: flex-start;
 margin-left: 10px;
}
.logo-desenho1-desenho2{
background-color: chocolate;
width: 250px;
align-self: center;
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}
.logo{
    background-color: rgb(210, 30, 177);
    width: 100px;
    

}

.desenho1-desenho2{

    background-color: red;
    width: 250px;
    display: flex;
    gap: 30px;
}

.desenho1{

    background-color: rgb(30, 210, 117);
    width: 150px;
    display: flex;
    flex-direction: column;
    
}
.img1{
    background-color: rgb(160, 131, 114);
    width: 100px;

}
.texto1{

    background-color: rgb(40, 26, 189);
    width: 100px;

}


.desenho2{
    background-color: darkviolet;
    width: 150px;
}
.img2{

    background-color: cyan;
    width: 100px;
}
.texto2{

    background-color: rgb(120, 51, 238);
    width: 100px;
}