@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin: 0px;
    padding: 0px;

    text-decoration: 0px;

}
header{
    width: 100%;
    height: 71px;
 
background: #353F8E;
}
.logo-img1-img2{

 display: flex;
 align-items: center;
 flex-direction: column;
 margin-top: 150px;
 gap: 10px;
}

.alogo{

    width: 392px;
    height: 222px;
    text-align: center;
}
.img1-img2{
    
    width: 600px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.img1{
    width: 221px;
    height: 204px;
    display: flex;
    flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
border-radius: 40px;
background: #57A934;

}
.img1:hover{
    cursor: pointer;
    background-color: grey;
}
.desenho1{


width: 102px;
height: 102px;
margin-top: 20px;

}

.texto1{
font-family:'Poppins' ;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    width: 177px;
height: 33px;
    color: #FFFFFF;
}

.img2{
    width: 221px;
    height: 204px;
    display: flex;
    flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
border-radius: 40px;
background: #57A934;

}
.img2:hover{

    cursor: pointer;
    background-color: grey;  
}
.desenho2{
  
    width: 142px;
    height: 106px;
    margin-top: 20px;
}
.texto2{
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    width: 177px;
height: 33px;
    color: #FFFFFF;
}