@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{

    padding: 0px;
    margin: 0px;
   
    text-decoration: 0px;
}
header{

    width: 100%;
    height: 71px;
 
background: #353F8E;

}

main{

    display: flex;

justify-content: center;
align-items: flex-start;
}
.volta{

    width: 100px;

flex-shrink: 0;

align-items: flex-start;
margin-left: 30px;
margin-top: 50px;
}

.volta:hover{
    cursor: pointer;
}
.main{


flex-direction: column;
justify-content:center ;
}


img{
align-self: flex-start;
height: 100px;
margin-top: 25px;
margin-left: 0px;
}

.center{

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 100px;;
gap: 30px;
}
.title{

    align-self: flex-start;
}
h1{
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(22, 22, 139);
}
.box{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
background-color: D9D9D9;
    align-self: center;
    border-radius: 30px;
}
input{
    background: #57A934;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);    border-radius: 10px;
   margin: 10px;
    height:200px;
    width: 100px;
    appearance: none;
    -webkit-appearance: none;
   cursor: pointer;
}
input:hover{
    background:gray;
        border-radius: 10px;
   margin: 10px;
    height:200px;
    width: 100px;
    appearance: none;
    -webkit-appearance: none;
   cursor: pointer;

}

input:checked{
    background-color: rgb(114, 114, 114);
    border-radius: 10px;
    border: 5px solid blue;
   margin: 10px;
    height:200px;
    width: 100px;
    appearance: none;
    -webkit-appearance: none;
   cursor: pointer;

}

footer{

  height: 100px;
  margin-bottom: 200px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    gap: 100px;
}

.disp{
    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    display: flex;
    font-size: 30px;
  
}

h3{
    background: #57A934;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
}

.indis{

    font-size: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    display: flex;

    font-size: 30px;
   

}

h4{
    background-color:gray;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
}