<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/login.css">
   <script src="codigo.js"></script>
    <title>Login</title>
</head>
<body>
    <header></header>



<main>
    <div class="voltar-logo-desenho1-desenho2">
 
        <a href="/porteiro_motorista"><div class="voltar"><img  class="back"  src="/static/imagens/BACK copy.png" alt="" srcset=""></div></a>
        <div class="logo-desenho1-desenho2">
            <div class="logo"><img src="/static/imagens/ESTACIONE TJCE 3 (2).png"></div>
            <div class="desenho1-desenho2">
               
    {% set menssagem = get_flashed_messages() %}
    {% if menssagem %}
        <div class="flash_alerta">
            {{menssagem[0]}}
        </div>
    {% endif %}


              <form action="/login" id="login" method="post">
                 <input  id="usuario"  name="nome" class="desenho1" type="text" placeholder="Usuário" required>
                
            
          
        
     
               
            <input id="senha" class="desenho2" type="password"  name="senha" placeholder="Senha" required>
            <input type="submit" value="Entrar" class="botao" placeholder="entrar">

        </form>

        </div>
    </div>
 
   
   
    </div>
        </div>

</main>

</body>
</html>