<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/porteiro_motorista.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
<script src="/login/static/js/login.js"></script>
    <title>Porteiro_Motorista</title>
</head>
<body>
   <header></header>
   <main>
  <div class="logo-img1-img2">

<div class="logo"><img src="/static/imagens/tcje.png" class="alogo" alt="logo" ></div>
<div class="img1-img2">

<a href="/login"><div class="img1">

<div class="desenho1"><img src="/static/imagens/port.png" alt="porteiro" ></div>
<div class="texto1">Porteiro</div>
</div></a>

<a href ="/selecao_vagas_mot"><div class="img2">

    <div class="desenho2" ><img src="/static/imagens/moto.png" alt="" srcset=""></div>
    <div class="texto2">Motorista</div>
</div></a>

</div>

  </div>

   </main>

</body>
</html>