*{
    margin: 0px;
    padding: 0px;

    text-decoration: 0px;
}


header{
    width: 100%;
    height: 71px;
 
background: #353F8E;
}

.voltar-logo-desenho1-desenho2{

    display: flex;
    flex-direction: column;
    gap: 10px;

}
.voltar{

    width: 100px;
 align-self: flex-start;
 margin-left: 30px;
 margin-top: 50px;
}
.logo-desenho1-desenho2{

width: 250px;
align-self: center;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

.logo{

    width: 100%;
    height: 100%;
margin-right: 110px;
}


.desenho1{

     width: 150px;
    display: flex;
    flex-direction: column;
    width: 221px;
    height: 204px;
    margin-left: 20px;
background: #57A934;
  justify-content: center;
  align-items: center;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
border-radius: 40px;
    
}
.img1{

    width: 106px;
    height: 106px;

}

.texto1{


    width: 100px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
text-align: center;
margin-right: 20px;
color: #FFFFFF;



}


