body{
    position: relative;
    width: 1280px;
    height: 832px;
    
    background: #353F8E;
}
.flex{
 
    position:absolute;
  margin-left: 800px;
  margin-top: 185px;
    padding: 1px;
    display: flex;
   
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 100px;
}
